/*
  ***
  Nicholas Neshev and Faraz Qureshi
  12/12/21
  Section AB, Shriya Kurpad and Abdul Itani

  This is the styles.html page for our final project. It has a general theme of placing borders
  around important sections, with a lot of flex management to organize lists of items and align text
  fields. The site has a white background with various earthy tones of accent color.
  ***
*/

body {
  margin: 0px;
}

main {
  width: 80%;
  margin: auto;
}

/* fonts */
header, .individual {
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
}

main, button, input {
  font-family: 'Roboto', sans-serif;
}

/* header styles */
header, nav, header div {
  display: flex;
  align-items: center;
}

header, nav {
  justify-content: space-around;
}

header nav select {
  height: 40px;
}

header {
  background-color: #d6a175;
  position: sticky;
  top: 0;
  height: 11vh;
}

header > div > p {
  margin: 0;
}

header > div {
  padding: 10px;
  background-color: rgb(253, 240, 169);
}

nav input {
  height: 35px;
  width: 35vw;
}

nav button {
  font-size: 1vw;
  width: 20%;
}

h1 {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

/* footer styles */
footer {
  width: 100%;
  bottom: 0;
  text-align: center;
}

/* universal properties */
button {
  font-weight: bold;
  margin: 1%;
  cursor: pointer;
  text-align: center;
}

button:hover {
  background-color: #E8E4E1;
}

/* shared classes */

.view-border {
  border: 4px;
  border-style: dotted;
  border-radius: 5px;
  border-color: #3A5743;
}

.curr-sign:before {
  content: '$';
}

.flex {
  display: flex;
}

/* login styles */
#login {
  flex-direction: column;
  width: 45vw;
  margin: auto;
}

#login > label {
  margin: 2px auto;
  background-color: #fff39b;
}

#login form label {
  margin-top: 16px;
  margin-bottom: 6px;
}

#login form {
  display: flex;
  flex-direction: column;
  background-color: #CFFFB3;
  padding: 5px 17px 17px 17px;
  border-radius: 5px;
  margin: auto;
}

#login form input {
  width: 40vw;
  height: 35px;
}

#login button {
  width: fit-content;
}

/* visuals styles */
#visuals {
  padding: 5px;
}

#visuals h2 {
  font-size: 25px;
  text-align: center;
}

#visuals h3 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}

/* home styles */
#home {
  box-sizing: content-box;
  height: 420px;
  min-width: 200px;
  overflow-y: scroll;
  overflow: -moz-scrollbars-none;
  padding: 20px;
}

.grid-layout {
  width: 80vw;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.list-layout {
  width: 30vw;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
}

/* history view */
#history {
  width: 40vw;
  margin: auto;
  flex-direction: column;
  box-sizing: content-box;
  height: 420px;
  min-width: 200px;
  overflow-y: scroll;
  overflow: -moz-scrollbars-none;
  padding: 20px;
}

#history .transaction-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  min-width: 90%;
  border: 4px;
  border-style: solid;
  border-radius: 5px;
  border-color: #3A5743;
}

#history > .transaction-container >,
#history > .transaction-container > div > p {
  margin: 0px;
}

#history > .transaction-container > div {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

/* One item view */
#view-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

#single {
  align-items: center;
  min-width: 250px;
  padding: 0px 6px;
}

#single > p {
  text-align: center;
  margin: auto;
}

#single #single-description {
  width: 250px;
  border-color: #3B7080;
  border-style: solid;
  border-width: 1px;
}

#single div:first-of-type {
  margin-top: 10px;
  margin-bottom: 10px;
}

#single > div:not(.product):not(:first-of-type) {
  margin-top: 0px;
  margin-bottom: 0px;
}

#single > div:not(.product) {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

#single > div:not(.product) p {
  margin: 0;
}

#single div input {
  width: 60px;
  margin: 0px 20px 0px 10px;
}

#single > div:not(.product) > p:nth-of-type(1) {
  margin-right: 10px;
}

#single > button {
  margin-left: 40%;
}

/* product styling */
.product {
  position: relative;
  height: 250px;
  padding: 5px 10px;
  margin: 0px 10px 5px 10px;
  border-style: solid;
  border-radius: 20px;
  border-color: #3A5743;
}

.product :hover {
  cursor: pointer;
  opacity: 1;
}

.product-hover-div-buy {
  height: 47%;
  background-color: #CFFFB3;
}

.product-hover-div-sell {
  top: 50%;
  height: 47%;
  background-color: #b3e2ff;
}

.product-hover-div-buy, .product-hover-div-sell {
  position: absolute;
  width: 90%;
  opacity: 0;
}

.product-hover-text {
  color: black;
  font-size: 20px;
  position: relative;
  margin: auto;
  text-align: center;
}

.product img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  display: block;
  margin: 0px auto 5px auto;
}

.product div, .product h2, .product p {
  /* flexboxes are the hashmaps of css */
  display: flex;
}

.product > div {
  justify-content: space-between;
  flex-direction: row;
}

.product .product-labels, .product .product-values {
  flex-direction: column;
}

.product h2 {
  font-size: 25px;
  width: fit-content;
  margin-bottom: 8px;
  border: 2px;
  border-radius: 2px;
  border-bottom-style: solid;
  border-color: #3A5743;
}

.product h2, .product .product-values .product-money {
  align-items: center;
  height: 30px;
  margin-top: 0px;
}

.product .product-values .product-money {
  margin-bottom: 10px;
}

.product .product-values {
  width: 30%;
}

.product .product-labels {
  width: 70%;
}

.product .product-labels p, .product .product-labels h2 {
  justify-content: left;
}

.product .product-values p {
  justify-content: right;
}

.product .product-labels p,
.product .product-values .product-amount-tag,
.product .product-values .product-amount {
  height: fit-content;
  margin: 0;
}

.product .product-labels .product-seller-tag, .product .product-values .product-amount-tag {
  font-size: 11px;
}

.product .product-labels .product-seller, .product .product-values .product-amount {
  font-size: 16px;
  word-break: break-all;
}

.product .product-labels .product-seller {
  inline-size: 90%;
}

.hidden {
  display: none;
}