body {
  margin: 0px;
}

main {
  width: 80%;
  margin: auto;
}

/* fonts */
header, .individual {
  font-family: 'Chelsea Market', cursive;
}

main, button, input {
  font-family: 'Roboto', sans-serif;
}

/* header styles */
header, nav, header div {
  display: flex;
  align-items: center;
}

header, nav {
  justify-content: space-around;
}

header {
  background-color: #B58BAB;
  position: sticky;
  top: 0;
  height: 15vh;
}